.stats-main-div {
  color: black;
}

.stats {
  padding-top: 100px;
}

.font-awesome {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  font-size: 35px;
}

.container-stats {
  text-align: center;
}